<section data-ng-controller="HomeController">
	<div class="jumbotron landing-page-header text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/boulderbanner_lg.png" />
			</div>
		</div>
		<br>
		<!--<div class="row">
			<p class="lead">
				Welcome to Harare Boulder SDA Church
			</p>
		</div>-->
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more about us</a>
			</p>
		</div>
	</div>
    <div class="container">


	<div class="col-md-8">
		<h2 class="footer-heading">Latest News</h2>
		<div class="newsdiv">
			<ul>
				<li>
					<img src="http://lorempixum.com/100/100/nature/1" >
					<h3>The Grasslands</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
				</li>

				<li>
					<img src="http://lorempixum.com/100/100/nature/2" >
					<h3>Paradise Found</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
				</li>

				<li>
					<img src="http://lorempixum.com/100/100/nature/3" >
					<h3>Smoke On The Water</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
				</li>

				<li>
					<img src="http://lorempixum.com/100/100/nature/4" >
					<h3>Headline</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
				</li>
			</ul>
		</div>


	</div>
	<div class="row">
		<div class="col-md-3">
			<h3 class="footer-heading">
				Upcoming Events
			</h3>
			<div>
				<ul class="upcoming_events">
					<li data-ng-repeat="event in upcomingevents">
					 <p class="meta_date">
						 <strong>20</strong>
						 <span> Jan</span>
					 </p>
						<p> <span class="entry_title">{{event.eventtitle}}</span>
					<span>gggg</span>
						<span>sdsdfsdf</span>
					</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>


	</div>
<!--    <footer style="background-color: white;padding-top: 40px; color: #545454">

		<div class="container">
			<div class="col-md-3">
				<span class="footer-heading"> WHEN AND WHERE?</span>
				<p>227 Fife Avenue, Greenwood Park<br/>
				Harare, Zimbabwe</p>

				<p>(916) 457-6511
				office@bouldersda.org</p>

				<p><strong>Sabbath Services</strong> - Saturday <br/>
					Morning Manna 9:00AM<br/>
				Sabbath School 9:30AM<br/>
					Worship Service  10:50AM<br/>
					</p>

			</div>
			<div class="col-md-3 dottedlist">
				<span class="footer-heading">FOLLOW US</span>

					<ul style="padding-left: 5px">
						<li><i class="glyphicon glyphicon-facebook"></i> Facebook</li>
						<li><i class="fa fa-icon-twitter"></i> Twitter</li>
						<li>Google Plus</li>
					</ul>

			</div>
			<div class="col-md-3 dottedlist">
				<span class="footer-heading">MEDIA RESOURCES</span>
				<ul style="padding-left: 5px">
					<li>Facebook</li>
					<li>Twitter</li>
					<li>Google Plus</li>
				</ul>
			</div>
			<div  class="col-md-3 dottedlist">
				<span class="footer-heading">ABOUT US</span>
				<ul style="padding-left: 5px">
					<li ><a href="/#!/ourbeliefs"> We Beleive</a></li>
					<li ><a href="/#!/information">Meet our staff</a></li>
					<li >Our History</li>
				</ul>
				<span class="footer-heading">Guest Guide</span>
				<ul style="padding-left: 5px" >
					<li>Children & Youth Guideline</li>
					<li>Map Directions</li>
					<li>Guest Lunches</li>
				</ul>
			</div>
		</div>
		<div class="container dotted"></div>
		<div class="container">
			<div class="col-md-5">
				Harare Boulder SDA Church 2016
			</div>
			<div >
				<ul class="nav navbar-nav ">
					<li><a href="/#!/">Home</a></li>
					<li><a href="/#!/">About Us</a></li>
					<li><a href="/#!/">News & Events</a></li>
					<li><a href="/#!/">Ministries</a></li>
					<li ><a href="/#!/">Media Resources</a></li>
					<li><a href="/#!/">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</footer>-->
</section>
